<tr>
	<td><%= match.created_at.strftime('%a %b %d') %></td>
	<td class=<%= 'winning-team' if match.winner == match.home_team %>><%= match.home_team.name %></td> 
	<td class=<%= 'winning-team' if match.winner == match.away_team %>><%= match.away_team.name %></td> 
</tr>