	<div id="match">
		<%= form_tag '/matches', :id => 'match-form' do %>
			<%= render 'player' %>
			<div id="games-widget" class="row">
				<%= button_tag "-", :type => "button", :class => "button", :id => "removeGame" %>
				<div class="games">
				</div>
				<%= button_tag "+", :type => "button", :class => "button", :id => "addGame" %>

			</div>
			<div class="bottom">
				<%= render 'player_picker' %>
				<%= submit_tag "Submit", :id => "submit-button", :class => "btn btn-primary" %>
			</div>
		<% end %>
	</div>


<script>
$(function() {
	Match.initialize();
})
</script>