<!DOCTYPE html>
<html>
  <head>
    <title>Rivals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>

    <link href="https://fonts.googleapis.com/css?family=Cabin|VT323" rel="stylesheet">
  </head>

  <body>
    <%= render "shared/nav" %>
      <div class="container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
  </body>
</html>
